<footer class="page__footer">
  <a href="#top">
    <img
      class="arrow"
      src="./assets/images/ico-arrow.svg"
      width="50px"
      height="50px"
      alt="arrow" />
  </a>

  <div class="footer-section-wraper">
    <div class="footer-section">
      <a href="https://adalab.es/">zapatillas</a>
      <a href="https://adalab.es/">ropa</a>
      <a href="https://adalab.es/">niño/a</a>
      <a href="https://adalab.es/">destacados</a>
      <a href="https://adalab.es/">tips</a>
    </div>

    <div class="footer-section">
      <a href="https://adalab.es/">twitter</a>
      <a href="https://adalab.es/">instagram</a>
      <a href="https://adalab.es/">youtube</a>
    </div>
  </div>

  <div class="footer-section copyright">
    <small>&copy;2023</small>
    <small>we &#10084; run</small>
  </div>
</footer>
