<main>
  <section class="section1">
    <div class="title">
      <h1 id="inicio">Hasta un 50% de descuento</h1>
      <p>Ya estan aqui las ofertas de fin de temporada</p>
      <a href="#anio">
      <img
        class="scroll-down"
        src="/assets/images/ico-scroll-down.svg"
        alt="ico-scroll-down"
        width="60px"
        height="60px" />
      </a>
    </div>
  </section>
  <section class="section2">
    <h4 class="title2">Los sentimientos nos inspiran</h4>
    <h2>Conecta Contigo</h2>
    <p>
      Esto es una celebración de todo lo que nos mueve. Del poder de elegir y de
      la libertad de ser. Rendimos homenaje al hermoso caos del movimiento y a
      la plena consciencia que tan bien nos hace sentir
    </p>

    <button class="buy-button">Comprar</button>
  </section>
  <section class="section3">
    <h2 id="anio">Año nuevo, movimientos nuevos</h2>
    <div class="wrapper">
      <div class="item">
        <h3>Entrenamientos</h3>
        <p>Sesiones de running y entrenamientos</p>
      </div>
      <div class="item">
        <h3>Cualquier nivel</h3>
        <p>Entrenamientos para cada nivel</p>
      </div>

      <div class="item">
        <h3>Exclusividad</h3>
        <p>Porductos para miembros premium</p>
      </div>

    </div>
    <button class="start-button">Empezar ahora<button>
  </section>
</main>
