<main>
  <section class="section1">
    <div class="title">
      <h1>Hasta un 50% de descuento</h1>
      <p>Ya estan aqui las ofertas de fin de temporada</p>
      <img
        class="scroll-down"
        src="/assets/images/ico-scroll-down.svg"
        alt="ico-scroll-down"
        width="60px"
        height="60px"
      />
    </div>
  </section>
  <section class="section2">
    <h4 class="title2">Los sentimientos nos inspiran</h4>
    <h2>Conecta Contigo</h2>
    <p>
      Esto es una celebración de todo lo que nos mueve. Del poder de elegir y de
      la libertad de ser. Rendimos homenaje al hermoso caos del movimiento y a
      la plena consciencia que tan bien nos hace sentir
    </p>

    <button class="boton-comprar">Comprar</button>
  </section>
  <div class="wrapper">
    <h2>Año nuevo, movimientos nuevos</h2>
    <h3>Entrenamientos</h3>
    <p>Sesiones de running y entrenamientos</p>
    <h3>Cualquier nivel</h3>
    <p>Entrenamientos para cada nivel</p>
  </section>
</main>
