.section1 {
    height: 100vh;
    width: 100%;
    background-image: url("./assets/images/cover.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
   
}

.section1 h1 {
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 30px;
}

@media screen and (min-width:768px) {
    .section1 h1 {
        font-size: 75px;
    }
}

@media screen and (min-width:1024px) {
    .section1 h1 {
        font-size: 100px;
    }
    
}


.scroll-down {
    background-color: white;
    padding: 1rem;
    border-radius: 50%;
    margin-top: 2rem;
    margin-bottom: 3rem;

        
}

.title {
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}

.section2 {
    height: 400px;
    padding: 2rem;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.title2 {
    color: orangered;
}

.buy-button {
    color: orangered;
    background-color: white;
    border-radius: 9rem;
    border: 2px solid orangered;
    padding:1rem;
    width: 160px;
    font-size: large;
}

.buy-button:hover {
    transform: scale(1.2);
    transition: all 1s ease-out;
}
.section3 {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section3 h2 {
    text-align: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 2rem;
}
@media screen and (min-width:768px){
    .wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    }
}
    

.item {
    line-height: 30px;
    text-align: center;
    font-size: 18px;
}

.item h3 {
    font-weight: 900;
    font-size: 24px;
}
.start-button {
    background-color:orangered;
    color: white;
    border-radius: 7rem;
    border: none;
    padding: 1rem;
    font-size: large;
    margin-top: 2rem;
}

.start-button:hover {
    transform: scale(1.2);
    transition: all 1s ease-out;
    background-color: aqua;
}
